.title-slide hgroup h1 {
  font-size: 65px;
  line-height: 1.4;
  font-family: 'Roboto Condensed' !important;
  letter-spacing: -3px;
  color: #303030;
}

.title-slide hgroup h2 {
  font-size: 34px;
  color: darkgrey;
  font-weight: inherit;
}

.title-slide hgroup p {
  font-size: 20px;
  color: #797979;
  line-height: 1.3;
  margin-top: 2em;
}

.title-slide a {
  color: #02bb8a;
  text-decoration: none;
  border-bottom: none;
}

code {
  color: #02bb8a !important;
  text-decoration: none !important;
  border-bottom: 1px solid !important;
}

.title-slide hgroup p {
  font-size: 20px;
  color: #797979;
  line-height: 1.3;
  margin-top: 2em;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300;
}

slides>slide>hgroup+article p {
  margin-bottom: 1em;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300;
}

ol li, ul li {
  margin-bottom: 0.5em;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300;
}

a:hover {
  color: #008561 !important;
}

h1, h2, h3 {
  font-family: 'Roboto Condensed' !important;
  font-weight: 600;
}

h2 {
  font-size: 45px;
  line-height: 65px;
  letter-spacing: -2px;
  color: #515151;
}

h3 {
  font-size: 30px;
  letter-spacing: -1px;
  line-height: 2;
  font-weight: inherit;
  color: #797979;
}

a {
  color: #02bb8a;
  text-decoration: none;
  border-bottom: none;
}

em {
  font-style: italic;
  color: #02bb8a;
}

strong {
  font-weight: bold;
}
